/target/
!.mvn/wrapper/maven-wrapper.jar

#Demo cluster scripts
login.sh
create_cluster.sh
delete_cluster.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
